body {
  background-color: #232323;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  align-items: stretch;
  justify-content: stretch;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.cellbordertop {
  border-top: 4px solid white;
  padding-top: 4px;
}

.cellborderbottom {
  border-bottom: 4px solid white;
  padding-bottom: 4px;
}

.cellborderleft {
  border-left: 4px solid white;
  padding-left: 4px;
}

.cellborderright {
  border-right: 4px solid white;
  padding-right: 4px;
}



.cellbordertop.cellborderleft {
  border-top-left-radius: 8px;
}

.cellborderbottom.cellborderleft {
  border-bottom-left-radius: 8px;
}

.cellbordertop.cellborderright {
  border-top-right-radius: 8px;
}

.cellborderbottom.cellborderright {
  border-bottom-right-radius: 8px;
}

.cellinner {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3em;
}